.center {
    margin: auto;
    width: 20%;

    padding-top: 5%;
}
.kader {
    padding: 30px;
    text-align: center;
    border: 1px solid #bbbbbb;
}
.hor-grijze-lijst {
    list-style: none;
}
.hor-grijze-lijst li {
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    font-size: 12px;
    color: gray;
}

@font-face {
    font-family: "Roboto";
    src: url('roboto.eot'); /* IE9 Compat Modes */
    src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto.woff') format('woff'), /* Modern Browsers */
    url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}
*{
    font-family: "Roboto";
    color: black;
}
